<div #successModal class="modal fade" id="successModal" tabindex="-1"
  aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-success-subtle">
      <div class="modal-header bg-success text-white">
        <h1 class="modal-title fs-5" id="successModalLabel">Sucesso!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Dados de perfil atualizados com sucesso!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onReturn()">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center">
  <div class="mb-1 w-50">
    <h2>Meu perfil</h2>
    <p>Gerencie suas informações pessoas e configurações de conta.</p>
  </div>
</div>
<div class="d-flex flex-column justify-content-center align-items-center">
  <form class="w-50" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="bg-white rounded-4 shadow p-4 mb-3">
      <h4>Dados pessoais</h4>
      <p class="fw-bold mb-1">
        <i class="bi bi-person-circle"></i>
        Foto de perfil</p>
      <p class="text-body-secondary small">Aceitamos PNGs, JPGs e JPEGs abaixo de 2MB.</p>

      <hr>

      <div class="mb-3">
        <label class="form-label">Nome Completo</label>
        <input type="text" class="form-control" id="nome" formControlName="nome" maxlength="255">
      </div>

      <div class="mb-3">
        <label class="form-label">Email Institucional</label>
        <input type="text" class="form-control" id="email" formControlName="email">
      </div>

      <div class="mb-3">
        <label class="form-label">Tipo de Perfil</label><br/>
        <span class="badge bg-info mb-3 text-dark">{{ tipoPerfil | uppercase }}</span>
      </div>
    </div>

    <div class="bg-white rounded-4 shadow p-4 mb-3">
      <h4>Segurança</h4>
      <a routerLink="/alterar-senha" class="link-primary text-decoration-none">
        <i class="bi bi-key"></i>
        Alterar senha de acesso
      </a>
    </div>

    @if (tipoPerfil === 'aluno') {
      <div class="bg-white rounded-4 shadow p-4 mb-3">
        <h4>Preferências de gênero</h4>
        <p class="text-body-secondary small">Selecione os gêneros de livros de seu interesse.</p>
        
        @for (genero of (generos$ | async); track genero.id) {
          <button
            type="button"
            class="btn rounded-pill mb-1 me-1"
            [class.btn-primary]="isGeneroSelecionado(genero.id)"
            [class.btn-outline-secondary]="!isGeneroSelecionado(genero.id)"
            (click)="toggleGenero(genero.id)"
          >
          {{ genero.nome }}
          </button>
        }
      </div>
    }

    <div class="d-flex justify-content-end gap-2 mt-4 mb-4">
      <button type="button" class="btn btn-outline-secondary" (click)="onReturn()">
        Cancelar
      </button>

      <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">
        Salvar alterações
      </button>
    </div>
  </form>
</div>
