@media (prefers-reduced-motion: no-preference) {
  .hidden {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s;
  }

  .show {
    opacity: 1;
    transform: translateY(0);
  }

  .profile:nth-child(2) {
    transition-delay: 200ms;
  }

  .profile:nth-child(3) {
    transition-delay: 400ms;
  }

  .rating:nth-child(2) {
    transition-delay: 200ms;
  }

  .rating:nth-child(3) {
    transition-delay: 400ms;
  }

  .ticker-track {
    animation: scroll 40s linear infinite;
    will-change: transform;
    backface-visibility: hidden;
  }

  @keyframes scroll {
    to {
      transform: translateX(calc(-50%));
    }
  }
}

.carousel-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.45) 35%,
    rgba(0, 0, 0, 0) 70%
  );
}

@media (max-width: 576px) {
  
  .carousel-overlay {
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.95) 0%,
      rgba(0, 0, 0, 0.75) 35%,
      rgba(0, 0, 0, 0.25) 100%
    );
  }

  .carousel-item img {
    width: 100%;
    object-fit: cover;
    height: 120vw;
  }
}

.bar-ticker {

  padding: 0.6rem;
  overflow: hidden;
  user-select: none;

  background-color: var(--bs-primary);
  color: var(--bs-white);
}

.ticker-track {
  display: flex;
  width: max-content;
}

.bar-ticker ul {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 6rem;
  

  flex-shrink: 0;
  min-width: max-content;

  margin: 0 3rem 0 3rem;
  padding: 0;
  
  font-size: large;
}

.bar-ticker li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bar-ticker p {
  margin: 0;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}